/* You can add global styles to this file, and also import other style files */
:root {
  --cor-1: #fff;
  --cor-2: #f1f1f1;
  --cor-3: #8E8E8E;
  --cor-4: #821ED0;
  --cor-5: #432876;
  --cor-6: #058a00;
  --cor-7: #d80505;
  --cor-8: #F47922;
  --cor-9: #484848;
  --cor-10: #d1d1d1;
  --cor-11: #9CB8F6;
  --cor-12: #F47922;
  --cor-13: #F8AF7A;
  --cor-14: #F5F4F8;
  --cor-15: #DEDEDE;
  --cor-16: #AEAEAE;
  --cor-17: #626262;
  --cor-18: #B0ADAD;
  --cor-19: #000000;
  --cor-20: #D9D9D9;
  --cor-21: #323232;
  --cor-22: #DADADA;
  --cor-23: #D7141B;
  --cor-24: #3C3C3C;
  --cor-25: #C52127;
  --cor-26: #606060;
  --cor-27: #BDE6FF;
  --cor-28: #F4F6FF;
  --cor-29: #821ED0;
  --cor-30: #FFAE00;
  --cor-31: #E69D00;
  --cor-32: #428013;
  --cor-33: #333333;
  --cor-34:#133B76;
  --cor-35:#9A151A;
  --cor-36:#7E7E7E;
  --cor-37:#BCBCBC;
  --cor-38:#2D7523;
  --cor-39:#26C012;
  --cor-40:#CFBB37;
  --cor-41:#F3DC43;
  --cor-42:#72157B;
  --cor-43:#B613C5;
  --cor-44:#1551A9;
  --cor-45:#170C58;
  --cor-46:#ff5e00;
  --cor-47:#d84f00;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--cor-2);
  scroll-behavior: smooth;
}

.grecaptcha-badge {
  right: -2000px !important; 
}

/* (*) vermelho em cima dos input */
.campo-obrigatorio {
  display: flex;
  width: 100% !important;
  color: red;
  font-size: 0.9rem;
}

/* section q se espande e reprime de acordo com o posicionamento do menu */
#coteudo-geral {
  transition: all 0.5s ease-in-out;
  margin-left: 195px;
}

@media screen and (max-width: 850px) {
  #coteudo-geral {
    margin-left: 0 !important;
    margin-top: 11vh;
  }
}

/* estilo globais para agilizar */
select,
input,
textarea {
  border: 1px solid var(--cor-3);
  border-radius: 7px;
  outline: none;
}

select:focus,
input:focus,
textarea:focus {
  border: 1px solid var(--cor-5) !important;
}

button {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* seta usada para voltar da edição ou adição na Grid de crud do ADM */
.seta-voltar {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: rgb(43, 43, 43);
  margin-top: -1%;
  width: 10%;
}

.seta-voltar i {
  font-size: 1.4rem;
  margin-right: 0.1rem;
  transition: 0.8s ease-in-out;
}

.seta-voltar:hover i {
  margin-right: 0.6rem;
  margin-left: 0.2rem;
}


/* pagincao global */
.btn-paginacao {
  background-color: var(--cor-4);
  color: var(--cor-1);
  cursor: pointer;
  padding: 1.5vh;
  margin: 2%;
  border: none;
}

.btn-padrao {
  background-color: var(--cor-4);
  color: var(--cor-1);
  cursor: pointer;
  padding: 1.5vh;
  display: inline;
  border: none;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-pagincao {
  font-size: 0.9rem;
  color: var(--cor-21);
}

.texto-itens-por-pagina {
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor-21);
}

.texto-itens-por-pagina select {
  border-radius: 10px 0%;
  padding: 0.5vh;
  margin-left: 1%;
  cursor: pointer;
}

/* preloader circular */
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--cor-5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* class para usar na quebra de linha */
.quebraDeLinha {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

/*  */
.mensagem-erro {
  color: var(--cor-7);
  font-size: 0.8rem;
}

/*  */

.formulario-lista-container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 55vh;
  box-sizing: border-box;
}

.card-form {
  flex: 1 1 150px;
  background: var(--cor-1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card-lista {
  flex: 2 1 100px;
  background: var(--cor-1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card-lista h3 {
  font-size: 1.2rem;
  color: var(--cor-19);
  margin-bottom: 1rem;
}

.input-busca {
  width: 50%;
  padding: 0.7rem;
  border: 1px solid var(--cor-20);
  border-radius: 4px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.acoes {
  display: flex;
  gap: 1rem;
}

.col {
  padding: 0;
}

.editar {
  color: var(--cor-21);
  font-weight: 500;
  cursor: pointer;
  display: flex;
}

.editar i {
  margin-right: 10%;
}

.deletar {
  color: var(--cor-23);
  font-weight: 500;
  cursor: pointer;
}

.deletar:hover {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.card-form input::placeholder,
.card-form select::placeholder,
.card-lista input::placeholder {
  color: var(--cor-19);
  opacity: 1;
}

.card-form h3 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--cor-19);
}

.card-form input,
.card-form select {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid var(--cor-20);
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  color: var(--cor-19);
}

.top-bar-lista {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

@media (max-width: 768px) {
  .formulario-lista-container {
    flex-direction: column;
    padding: 1rem;
  }

  .card-form,
  .card-lista {
    flex: 1 1 100%;
  }

  .header-grid,
  .turma-linha {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .acoes {
    justify-content: flex-start;
    margin-top: 0.5rem;
  }

  .linha-grid,
  .linha-usuario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .col {
    margin-bottom: 1%;
  }

  .input-busca {
    width: 100%;
    margin-bottom: 1rem;
  }

  .top-bar-lista {
    flex-wrap: wrap;
    justify-content: center;
  }
}