<app-sidebar></app-sidebar>
<app-top-bar></app-top-bar>
<main class="main-content">

    <section class="hero">
      <div class="hero-text">
        <h1>Gerencie Sua Escola com Facilidade</h1>
        <p>Simplifique operações, organize dados de alunos, professores e turmas.</p>
        <div class="buttons">
          <button class="btn-secondary">Saber Mais</button>
        </div>
      </div>
    </section>

    <section class="overview">
      <h2>Visão Geral</h2>
      <div class="cards">
        <div class="card">
          <h3>Total de Alunos</h3>
          <p class="number">0</p>
        </div>
        <div class="card">
          <h3>Professores Ativos</h3>
          <p class="number">0</p>
        </div>
        <div class="card">
          <h3>Turmas Ativas</h3>
          <p class="number">0</p>
        </div>
      </div>
    </section>

    <section class="bottom-section">
  <div class="notifications">
    <h3>Notificações Importantes</h3>
    <ul>
      <li>
        Pausa para Manutenção
        <span class="status critico">Crítico</span>
      </li>
      <li>
        Reunião de Professores
        <span class="status alerta">Aviso</span>
      </li>
      <li>
        Atualização do Sistema
        <span class="status ativo">Ativo</span>
      </li>
    </ul>
  </div>

  <div class="actions">
    <h3>Ações Rápidas</h3>
    <button class="btn-action">Adicionar Aluno</button>
    <button class="btn-action">Ver Turmas</button>
    <button class="btn-action">Gerenciar Professores</button>
  </div>
  </section>

</main>
